<div class="container-fluid">
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/The Home Expert Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Home Expert
        </a>
       
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service & Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  <div class="container contentMiddle">
      <h1>For high quality and professional cleaning services</h1>
      <p class="COVID19Alert">
        *We have the perfect measurements put in place to aid with all the safety reguations for COVID19.
      </p>
      <a class="btn btn-full" href="#">Service</a>
      <a  class="btn btn-ghost"href="#">Bookings</a>

  </div>
</header>
<section class="section-1">

  <div class="row">
    <h2>Choose among our high standard services below</h2>
    
    <p class="section-1-p">
      <br>
      Hello, we’re Home Expert, your new premium cleaning service.
       We know you’re always busy. No time for cleaning. So let us take care of that,
        we’re really good at it!
    </p>
    <div class="row">
      <div class="col box">
        <h3>
          Up to 365 days/year
        </h3>
        <a class="navbar-brand">
          <img src="../assets/images/clean.png" width="100" height="100" class="cleanImg" >
        </a>
        <p>
          Never clean again! We really mean that. Our subscription plans include up to 
          365 days/year coverage. You can also choose to order more flexibly if that's
           your style.
        </p>

      </div>
      <div class="col box">
        <h3>
          Up to 365 days/year
        </h3>
        <a class="navbar-brand" >
          <img src="../assets/images/laundry.png" width="100" height="100" class="cleanImg" >
        </a>
        <p>
          Never clean again! We really mean that. Our subscription plans include up to 
          365 days/year coverage. You can also choose to order more flexibly if that's
           your style.

        </p>
      </div>
      <div class="col box">
        <h3>
          Up to 365 days/year
        </h3>
        <a class="navbar-brand" >
          <img src="../assets/images/equipments.png" width="100" height="100" class="cleanImg" >
        </a>
        <p>
          Never clean again! We really mean that. Our subscription plans include up to 
          365 days/year coverage. You can also choose to order more flexibly if that's
           your style.

        </p>
      </div>
      <div class="col box">
        <h3>
          Up to 365 days/year
        </h3>
        <a class="navbar-brand" >
          <img src="../assets/images/vacuum.png" width="100" height="100" class="cleanImg" >
        </a>
        <p>
          Never clean again! We really mean that. Our subscription plans include up to 
          365 days/year coverage. You can also choose to order more flexibly if that's
           your style.

        </p>
      </div>

    </div>
  </div>

</section>

<section class="section-2"></section>

<section class="section-2">
  <ul class="showcase-1 clearfix">
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image4.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image3.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image4.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image3.jpg">
      </figure>
    </li>
  </ul>
  <ul class="showcase-1 clearfix">
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image3.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image4.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
        <img src="../assets/images/Figures/image3.jpg">
      </figure>
    </li>
    <li>
      <figure class="ImFigure">
       <img src="../assets/images/Figures/image4.jpg">
      </figure>
    </li>
  </ul>

</section>

<section class="section-3">
  <div class="row">
    <h2>How it works &mdash; Simple as 1, 2, 3</h2>
  </div>
  <div class="row">
    <div class="col step-box">
      <img src="../assets/images/app-iPhone.png" class="app-screen">
    </div>
    <div class="col step-box">
      <div class="works-step">
        <div>1</div>
        <p>Choose the service that best 
          fits your needs and sign up today.
          </p>
      </div>
      <div class="works-step">
        <div>2</div>
        <p>Book your service 
          using our mobile app or website. Or you can even call us!
          </p>
      </div>
      <div class="works-step">
        <div>3</div>
        <p>We will get our team dispatched to your home
           within your booked time!
        </p>
      </div>
      <a href="#" class="btn-app" ><img src="../assets/images/download-app.svg"></a>
      <a href="#" class="btn-app" ><img src="../assets/images/download-app-android.png"></a>
      
    </div>

  </div>

</section>

<section class="section-4">
  <div class="row">
    <h2>We're currently in these cities</h2>
  </div>
  <br>
  <div class="row">
    
    <div  class="col box-1">
      <img src="../assets/images/Figures/Cities/Eastern Cape.jpg">
      <h3>CapE Town</h3>
      <div class="city-featre">
        <i class="fa fa-users"></i>
        1600+ happy cleaned
      </div>
      <div class="city-featre">
        <i class="fa fa-star"></i>
        60+ top clients
      </div>
      <div class="city-featre">
        <i class="fa fa-twitter"></i>
        <a href="#">@homeexpert_t2</a>
      </div>
    </div>

    <div  class="col box-1">
      <img src="../assets/images/Figures/Cities/Gauteng.jpg">
      <h3>Gauteng</h3>
      <div class="city-featre">
        <i class="fa fa-users"></i>
        2230+ happy cleaned
      </div>
      <div class="city-featre">
        <i class="fa fa-star"></i>
        30+ top clients
      </div>
      <div class="city-featre">
        <i class="fa fa-twitter"></i>
        
        <a href="#">@oomonnas_et</a>
      </div>
    </div>

    <div  class="col box-1">
      <img src="../assets/images/Figures/Cities/Eastern Cape.jpg">
      <h3>Eastern Cape</h3>
      <div class="city-featre">
        <i class="fa fa-users"></i>
        230+ happy cleaned
      </div>
      <div class="city-featre">
        <i class="fa fa-star"></i>
        20+ top clients
      </div>
      <div class="city-featre">
        <i class="fa fa-twitter"></i>
        
        <a href="#">@stmmi_2</a>
      </div>
    </div>

    <div  class="col box-1">
      <img src="../assets/images/Figures/Cities/Gauteng.jpg">
      <h3>Kwa-Zulu Natal</h3>
      <div class="city-featre">
        <i class="fa fa-users"></i>
        230+ happy cleaned
      </div>
      <div class="city-featre">
        <i class="fa fa-star"></i>
        20+ top clients
      </div>
      <div class="city-featre">
        <i class="fa fa-twitter"></i>
        
        <a href="#">@stmmi_6</a>
      </div>
    </div>

  </div>

</section>

<section class="section-5">
  <div class="row">
    <h2>We offer our customers with trust and serve then with professionalism</h2>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <blockquote>HomeExpert is just awesome! I just launched a startup which leaves me with no 
        time to hire cleaners, so HomeExpert is a life-saver. Now that I got used to it, I couldn't live 
        without my office being cleaned!
        <cite><img src="../assets/images/Figures/users/Walter Clark.jpg">Walter Clark</cite>
      </blockquote>

    </div>
    <div class="col">
      <blockquote>Inexpensive, quick and great service, they are quickto come to your place.
         We have lots of cleaning services in Gauteng, but no one comes even close to HomeExperts.
          Me and my family are so in love!
        <cite><img src="../assets/images/Figures/users/Gloria Jennings.jpg">Gloria Jennings</cite>
      </blockquote>

    </div>

    <div class="col">
      <blockquote>I was looking for a quick and easy cleaning service in Gauteng. 
        I tried a lot of them and ended up with HomeExpert. Best cleaning service in the Sandton Area.
         Keep up the great work!
        <cite><img src="../assets/images/Figures/users/Brett Henry.jpg">Brett Henry</cite>
      </blockquote>

    </div>
  </div>


</section>

<section class="section-6">
  <div class="row">
    <h2>Let us start cleaning your home/office today</h2>
  </div>
  <br>
  <div class="row">
    <div class="clearfix  col">
      <div class="plan-box">
        <div>
          <h3>Premium</h3>
          <p class="plan-price">R800  <span>/ month</span>  </p>
          <p class="plan-price-service">That’s only R300 per service </p>

        </div>
        <div>
          <ul>
            <li><i class="fa fa-check-circle"></i>Clean every day</li>
            <li><i class="fa fa-check-circle"></i>Available 24/7</li>
            <li><i class="fa fa-check-circle"></i>Access to new free flowers</li>
            <li><i class="fa fa-check-circle"></i>Free window wash</li>
          </ul>
        </div>
        <div class="btnDiv">
          <a class="btn btn-full" href="#">Sign up now</a>
        </div>
      </div>
    </div>

    <div class="clearfix  col">
      <div class="plan-box">
        <div>
          <h3>Pro</h3>
          <p class="plan-price">R700 <span>/ month</span> </p>
          <p class="plan-price-service">That’s only R300 per service </p>

        </div>
        <div>
          <ul>
            <li><i class="fa fa-check-circle"></i>Clean every day</li>
            <li><i class="fa fa-check-circle"></i>1 service 10 days/month</li>
            <li><i class="fa fa-check-circle"></i>Access to new free flowers</li>
            <li><i class="fa fa-times-circle"></i>Free window wash</li>
          </ul>
        </div>
        <div class="btnDiv">
          <a class="btn btn-full" href="#">Sign up now</a>
        </div>
      </div>
    </div>

    <div class="clearfix  col">
      <div class="plan-box">
        <div>
          <h3>starter</h3>
          <p class="plan-price">R600 <span>/ month</span> </p>
          <p class="plan-price-service">That’s only R200 per service </p>

        </div>
        <div>
          <ul>
            <li><i class="fa fa-check-circle"></i>Clean twice a week</li>
            <li><i class="fa fa-check-circle"></i>Availale from 8 am to 12 pm</li>
            <li><i class="fa fa-times-circle"></i>Access to new free flowers</li>
            <li><i class="fa fa-times-circle"></i>Free window wash</li>
          </ul>
        </div>
        <div class="btnDiv">
          <a class="btn btn-full" href="#">Sign up now</a>
        </div>
      </div>
    </div>


  </div>
  
</section>

<section class="section-7">
  <div class="row">
    <h2>We're happy to hear from you</h2>
  </div>
  <br>
  <div class="row">
    <form  action="" class="contactForm">
      <div class="row">
        <div class="col-4">
          <label for="name">Name</label>

        </div>
        <div class="col-8">
          <input type="text" name="name" id="name"
           placeholder="Your Name" required>

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="email">Email</label>

        </div>
        <div class="col-8">
          <input type="email" name="email" id="email"
           placeholder="Your email" required>

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="findUs">How did you find us?</label>

        </div>
        <div class="col-8">
          <select name="findUs" id="findUs">
            <option value="Friends" selected>Friends</option>
            <option value="search" >Search Engine</option>
            <option value="ad">Advertisement</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label>Newslatter</label>

        </div>
        <div class="col-8">
          <input type="checkbox" name="news" id="news"
           checked>Yes please

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label>Drop us your line</label>

        </div>
        <div class="col-8">
          <textarea name="message"  placeholder="Your message"></textarea>

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          

        </div>
        <div class="col-8">
          <input type="submit" value="Send it!">
        </div>
      </div>

    </form>

  </div>


</section>

<footer>
  <div class="row">
    <div class="col">
      <ul class="footer-nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">iOS App</a></li>
        <li><a href="#">Android App</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="social-links">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-google-plus"></i></li>
        <li><i class="fa fa-instagram"></i></li>
        

      </ul>
      
    </div>
  </div>
    <p>Copyright &copy; 2020 by Home Expert. All right reserved</p>
 
</footer>

</div>